/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 4rem 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin: auto;
  width: 90%;
  max-width: 19.75rem;
}

article {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}

.title-wrapper,
.card-wrapper {
  max-width: 19.75rem;
  width: 100%;
  height: auto;
}

.title-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title,
.desc,
h3 {
  color: #4d4f62;
}

h1,
h2 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0.25px;
}

h1 {
  font-weight: 200;
}

h2 {
  font-weight: 600;
}

.desc {
  /* background-blend-mode: normal;
  mix-blend-mode: normal; */
  margin: 0;
  font-size: 0.938rem;
  font-weight: normal;
  line-height: 140%;
  letter-spacing: 0.1px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content {
  padding: 2rem;
  padding-bottom: 2.938rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.border1 {
  border-top: 5px solid #44d3d2;
}

.border2 {
  border-top: 5px solid #ea5454;
}

.border3 {
  border-top: 5px solid #fcae4a;
}

.border4 {
  border-top: 5px solid #549ef2;
}

h3 {
  margin: 0;
  margin-bottom: 0.375rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 135%;
}

.content p {
  margin: 0;
  font-size: 0.813rem;
  font-weight: normal;
  line-height: 160%;
  letter-spacing: 0.09px;
  color: #617178;
}

img {
  display: block;
  margin-left: auto;
  margin-right: 0;
}
