/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 4rem 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin: auto;
  width: 90%;
  max-width: 19.75rem;
}

article {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}

/* Title and Card Styles */
.title-wrapper,
.card-wrapper {
  max-width: 19.75rem;
  width: 100%;
  height: auto;
}

/* Title Styles */
.title-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title,
.desc,
h3 {
  color: #4d4f62;
}

h1,
h2 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0.25px;
}

h1 {
  font-weight: 200;
}

h2 {
  font-weight: 600;
}

.desc {
  /* background-blend-mode: normal;
  mix-blend-mode: normal; */
  margin: 0;
  font-size: 0.938rem;
  font-weight: normal;
  line-height: 140%;
  letter-spacing: 0.1px;
}

/* Card Styles */
.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content {
  padding: 2rem;
  padding-bottom: 2.938rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card1 {
  border-top: 5px solid #44d3d2;
}

.card2 {
  border-top: 5px solid #ea5454;
}

.card3 {
  border-top: 5px solid #fcae4a;
}

.card4 {
  border-top: 5px solid #549ef2;
}

h3 {
  margin: 0;
  margin-bottom: 0.375rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 135%;
}

.content p {
  margin: 0;
  font-size: 0.813rem;
  font-weight: normal;
  line-height: 160%;
  letter-spacing: 0.09px;
  color: #617178;
}

img {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

/* Attribution Styles */

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

/* Tablet Styles */
@media only screen and (min-width: 768px) {
  main {
    max-width: 50rem;
    display: flex;
    justify-content: center;
  }

  .sec1-wrapper {
    display: flex;
    justify-content: center;
  }

  .title-wrapper {
    max-width: 33.75rem;
  }

  h1,
  h2 {
    font-size: 2.25rem;
  }

  .card-wrapper {
    max-width: 41.25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .card1 {
    grid-column: 1;
    grid-row: 2 / 3;
  }

  .card2 {
    grid-column: 1 / span 2;
    grid-row: 1;
    max-width: 19.625rem;
    width: 100%;
    justify-self: center;
  }

  .card3 {
    grid-column: 2;
    grid-row: 2 / 3;
  }

  .card4 {
    grid-column: 1 / span 2;
    grid-row: 3;
    max-width: 19.625rem;
    width: 100%;
    justify-self: center;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1440px) {
  main {
    max-width: 69.625rem;
  }

  .card-wrapper {
    max-width: 69.625rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .card1 {
    grid-column: 1;
    grid-row: 1 / span 2;
    max-height: 15.625rem;
    height: 100%;
    align-self: center;
  }

  .card2 {
    grid-column: 2;
    grid-row: 1;
    max-width: 21.875rem;
    width: 100%;
  }

  .card3 {
    grid-column: 2;
    grid-row: 2;
  }

  .card4 {
    grid-column: 3;
    grid-row: 1 / span 2;
    max-width: 21.875rem;
    width: 100%;
    max-height: 15.625rem;
    height: 100%;
    align-self: center;
  }
}
